/* CSS Resets */

* {
    margin: 0;
    padding: 0;
}

/* change box-sizing default to border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* respect user font size preferences */

html {
    font-size: 100%;
}

.nav-menu {
    max-width: 90rem;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
}

ul.nav-menu {
    list-style-type: none;
}

/* make images responsive */
img {
    display: block;
    max-width: 100%;
}


/* adding custom fonts */
@font-face {
    font-family: "ornaments";
    src: url(../fonts/PeperritoOrnaments-Regular.ttf) format('truetype');
    src: url(../fonts/PeperritoOrnaments-Regular.otf) format('opentype');
}

@font-face {
    font-family: "cutesy-normal";
    src: url(../fonts/Peperritos-Regular.ttf) format('truetype');
    src: url(../fonts/Peperritos-Regular.otf) format('opentype');
}

/*~~~~~~~~~~~~~~~~~~~ color palette */

:root {
    --bg-color1: #130d1d;
    --bg-color2: #fcf2ff;
    --accent-color1: #f04e23;
    --font-color1: #fcf2ff;
    --font-color2: #ffc038;
}

/*~~~~~~~~~~~~~~~~~~~ color palette */

/* General CSS */

html {
    scroll-behavior: smooth;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 3rem;
}

body {
    line-height: 1.5rem;
    background-color: var(--bg-color1);
    color: var(--font-color1);
    font-family: "cutesy-normal";
    background: #130d1d;
    background: linear-gradient(0deg, #87035f 0%, #130d1d 1%, rgba(19, 13, 29, 1) 88%, rgba(135, 3, 95, 1) 94%, rgba(191, 0, 86, 1) 99%);
}

.nav-brand img {
    width: 100%;
}

.logo {
    display: none;
}

#phone-header {
    display: none;
}

@media (max-width:1450px) {
    h2 {
        padding: .75rem;
    }
}

@media (max-width:850px) {
    #phone-header {
        display: block;
    }

    #desktop-header {
        display: none;
    }

    .nav-menu {
        flex-direction: column;
        text-align: center;
        line-height: 3rem;
        display: none;
    }

    .hamburger {
        display: block;
    }

}

@media (max-width:500px) {
    .portfolio-content img {
        padding: .75rem;
    }

    .portfolio-content h2 {
        margin: .75rem;
    }

}

.nav-menu {
    max-width: 80rem;
    padding: 1.25rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    color: var(--font-color1);
}

.portfolio-content,
.contact-content,
.about-content,
.goblin-content {
    max-width: 90rem;
    margin: 0rem auto 12rem auto;
}

.portfolio-content h2,
.contact-content h2,
.about-content h2,
.goblin-content h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    line-height: 3rem;
}


.hidden-text {
    display: none;
}

@media (max-width:850px) {
    .hidden-text {
        display: block;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease-in-out;
    background-color: var(--accent-color1);

}

.portfolio-item {
    transition: ease-in-out.2s;
}

.portfolio-item:hover {
    transform: scale(102%);
}

.portfolio-item:hover .overlay {
    opacity: 85%;
}

footer img {
    width: 2.5rem;
}



/* ~~~~~~~~~~~flexingittt ohhh im flexing it iohhhn img gleixng it~~~~~~~~~~~~~ */

.nav-menu {
    display: flex;
    justify-content: space-between;
}

.flex-container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
    justify-content: center;
    /* align-items: stretch; */


}

.flex-item-grid {
    flex: 0 1 28rem;
}