/* CSS Resets */

* {
    margin: 0;
    padding: 0;
}

/* change box-sizing default to border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* respect user font size preferences */

html {
    font-size: 100%;
}

/* make images responsive */
img {
    display: block;
    max-width: 100%;
}


/* adding custom fonts */
@font-face {
    font-family: "ornaments";
    src: url(../../fonts/PeperritoOrnaments-Regular.ttf) format('truetype');
    src: url(../../fonts/PeperritoOrnaments-Regular.otf) format('opentype');
}

@font-face {
    font-family: "cutesy-normal";
    src: url(../../fonts/Peperritos-Regular.ttf) format('truetype');
    src: url(../../fonts/Peperritos-Regular.otf) format('opentype');
}

/*~~~~~~~~~~~~~~~~~~~ color palette */

:root {
    --bg-color1: #130d1d;
    --bg-color2: #fcf2ff;
    --accent-color1: #f04e23;
    --font-color1: #fcf2ff;
    --font-color2: #ffc038;
}

/*~~~~~~~~~~~~~~~~~~~ color palette */

/* General CSS */

html {
    scroll-behavior: smooth;
}

.hamburger {
    display: none;
}

body {
    background-color: #130d1d;
    color: var(--font-color1);
    background: linear-gradient(0deg, #87035f 0%, #130d1d 3%, rgba(19, 13, 29, 1) 88%, rgba(135, 3, 95, 1) 94%, rgba(191, 0, 86, 1) 99%);
    font-family: "cutesy-normal", "Nunito", sans-serif;
}

main {
    max-width: 70rem;
    margin: 0 auto;
}

.navbar {
    display: block;
    position: fixed;
    max-width: 90rem;
}

.nav-brand img {
    max-width: 2.5rem;
    display: block;
    margin: 0 2.5rem;
    transition: .3s all ease-in-out;
    position: absolute;
    top: -140%;
    left: 10%;
    opacity: 1;
    transform: .3s;
    filter: brightness(1000%);
}

.nav-brand img:hover {
    filter: brightness(100%);
    transform: scale(110%);
    border-bottom: solid 4px var(--accent-color1);
}

.nav-menu {
    list-style: none;
    position: absolute;
    right: -1800%;
    top: -100%;
}

nav a {
    text-decoration: none;
    color: var(--font-color1);
    font-size: 1.25rem;
    font-family: "Dynapuff", system-ui, sans-serif;
    margin: 0 2.5rem;
    transition: .3s ease-in-out;
}

.nav-menu a:hover {
    color: var(--font-color2);
    text-decoration: underline solid 4px var(--accent-color1);
    font-size: 150%;
}

.resume-title {
    font-size: 3rem;
    margin: 5rem 0 3rem;
    color: var(--font-color1);
    font-family: "Dynapuff", system-ui, sans-serif;
}

.resume {
    margin: 0 auto;
    max-width: 90rem;
    text-align: center;
}

.project-title {
    margin: 3rem 0;
    font-size: 3rem;
    line-height: 5rem;
    font-family: "DynaPuff", system-ui, sans-serif;
}

.project-content p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
    opacity: 70%;
}

.project-content li {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    opacity: 70%;
}


.project-content h3 {
    font-size: 3rem;
    font-family: "Dynapuff", system-ui, sans-serif;
}

.project-photo {
    min-width: 70rem;
}

.button {
    background-color: var(--bg-color2);
    padding: .5rem 1rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.button a {
    text-decoration: none;
    color: var(--bg-color1);
    font-family: "Dynapuff", system-ui, sans-serif;
    font-size: 2rem;
}

footer {
    margin: 2rem .75rem 0rem;
    color: var(--font-color1);
    font-family: "cutesy-normal", "Nunito", sans-serif;
}

footer img {
    display: inline;
    max-width: 1.5rem;
    margin: 0 .3rem;
}

@media (max-width:450px) {
    footer img {
        max-width: 2rem;
        margin: .1rem;
    }
}

/* ~~~~~~OHH EYAAHAHA FLEXING IJM FLEXXING SOIFHEOFEHO~~~~~ */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}