/* CSS Resets */

*{
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */
html {
    font-size: 100%;
}


/* General CSS */

/*~~~~~~~~~~~~~~~~~~~ color palette */

:root{
--bg-color-1: #676843;
--bg-color-2: #F1EBCC;
--font-dark: #212400;
--font-light:#F1EBCC;
--accent-color-1: #FF9A1F;
--accent-color-2: #95ac02;
}

/*~~~~~~~~~~~~~~~~~~~ color palette */

html{
    scroll-behavior: smooth;
}


body{
    background-color:var(--bg-color-1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
    line-height: 1.5;
}
header {
    padding: 1.5rem;
    margin-bottom: 3rem;
    color: var(--font-dark);
    /* background-color: #e77132; */
    /* text-align: center; */
    border-bottom:var(--accent-color-2) 2px solid;
    background:var(--bg-color-2);
/* background: linear-gradient(90deg, rgba(242, 149, 0, 1) 0%, rgba(255, 92, 74, 1) 50%, rgba(237, 221, 83, 1) 100%); */;

}

header h1 {
    font-size: 4rem;
}

nav{
    position:absolute ;
    /* position: fixed; */
    right: 2rem;
    top: 2rem;
}

nav a {
text-decoration: none;
color: var(--font-dark);
display: inline-block;
margin: 2rem;
transition: all .4s ease;
}

nav a:hover{
    color: var(--accent-color-2);
    text-decoration: underline solid var(--accent-color-1)2px;
    transform: scale(1.1);
}

.about-section h2, .portfolio-section h2, .contact-section h2 {
 padding: 2rem 0; 
 color: var(--font-light);

}

.about-content, .portfolio-content, .contact-content {
 max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;    
}

.portfolio-item {
    margin-bottom: 8rem;
    background-color: var(--bg-color-2);
    padding: 4rem;
    text-align: justify;
    border-radius: 1rem;
    box-shadow: 10px 10px 5px #07171d80;
    border: 2px var(--accent-color-) solid
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p{
    font-size: 1rem;
}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 1rem;
}

.portfolio-section{
    background-color: var(--bg-color-1);
}

.contact-section {
    background-color:var(--bg-color-1);
}

footer{
        background: var(--bg-color-2);
/* background: linear-gradient(90deg, rgba(242, 149, 0, 1) 0%, rgba(255, 92, 74, 1) 50%, rgba(237, 221, 83, 1) 100%);
padding: 1rem; */
}

